# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @johnnyhuirilef

# You can also define owners for specific file types or directories
# packages/nest-ts-valid-mongodb/  @johnnyhuirilef
