{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "always",
  "quoteProps": "consistent"
}
