version: '3.8'

services:
  mongo:
    image: mongo:6.0
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
      MONGO_INITDB_DATABASE: nest-example
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - '8081:8081'
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: examplepassword
      ME_CONFIG_MONGODB_URL: mongodb://root:examplepassword@mongo:27017/
    depends_on:
      - mongo

volumes:
  mongo_data:
