name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      # Detects the base and head SHAs for affected command
      - uses: nrwl/nx-set-shas@v4

      # LINT FIRST: Fail fast principle
      - run: pnpm nx affected -t lint --parallel=3

      # THEN REST: Build and Test only what changed
      - run: pnpm nx affected -t test build typecheck --parallel=3
